doctype 5
html
  head
    title Auctioneer Admin
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    | <style>
    | body { padding-top: 60px; }
    | </style>
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src='/javascripts/jquery-1.9.1.min.js')
    script(type='text/javascript', src='/javascripts/bootstrap.min.js')
    script(type='text/javascript', src='/javascripts/knockout-2.2.1.debug.js')
    script(type='text/javascript', src='/javascripts/humane.min.js')
  body
    include header

    block content

    include footer

    block scripts
