body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

tr.user-row td {
  padding-top: 1em;
}

tr#new-user-row td {
  border-bottom: 2px solid #C8C8C8;
  padding-bottom: 0.25em;
}
